body {
    background: linear-gradient( 45deg, rgb(152, 204, 247), rgb(162, 210, 255));
}

.inputContainer {
    width: 500px;
    left: 20%;
}
h2 {
    text-align: center;
}

.controll {
  position: absolute;
  display: block;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  top: 50%;
  left: 10%;
  width: 810px;
  height: 300px;
  text-align: center;
  background: linear-gradient(10deg, rgb(51, 35, 35), rgb(156, 43, 43))
}
.Backspace, .Tab, .CapsLock, .ShiftLeft {
    width: 100px !important;
}
.Enter {
    width: 106px !important;
}
.Space {
    width: 370px !important;
}
.ShiftRight {
    width: 106px !important;
}

.controll button {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background: linear-gradient(5deg, rgb(119, 115, 115), rgb(221, 220, 211));
  margin: 2px;
  box-shadow: 4px 3px 10px red;

  font-size: 1em;
}

.key:hover {
    background: rgb(163, 20, 20);
}

.active {
    animation-name: tap;
    animation-duration: 0.5s;
}
.capsActive {
    background: aqua !important;
}
@keyframes tap {
    from {
        background: linear-gradient(5deg, rgb(119, 115, 115), rgb(221, 220, 211));
    }
    to {
        background: linear-gradient(5deg, black, black);

    }
}
